body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}

/* ARTICLE & BYLINE           */

main {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.story-image {
    float: right; 
    margin: 0 0 15px 15px;
    width: 300px; 
    height: auto;
    border: 3px solid #004c99;
}

